:root {
  --color-dark-blue-400: #201e26;
  --color-dark-blue-300: #2b2c39;
  --color-dark-blue-250: #3a3b4d;
  --color-dark-blue-200: #82828d;
  --color-blue-white-50: #e9eaf6;
  --color-primary-gradient: linear-gradient(90deg, #7961f2 0%, #5896e8 100%);
  --color-active: #7961f2;
  --color-gray: #46474d;
  --color-error: #fb2b76;

  --base-padding-inline: 24px;
  --base-element-gap-inline: 16px;
  --base-element-gap-top: 16px;
  --base-element-gap-bottom: 16px;
  --base-grid-gap-x: 2px;
  --base-grid-gap-y: 2px;

  --text-caption: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

body {
  min-height: 100vh;
  background-color: var(--color-dark-blue-400);
  color: var(--color-blue-white-50);
  transition: color 0.5s, background-color 0.2s;
  line-height: 1.6;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error {
  font-size: var(--text-caption);
  color: var(--color-error);
  line-height: 110%;
}

.draggable-item-grid {
  position: relative;
  display: grid;
  grid-template-columns: 24px 1fr 3fr 1.6fr 1.6fr 2fr;
  grid-template-rows: auto;
  gap: 0px 4px;
  grid-template-areas: "drag sufix title value1 value2 icon";
  align-content: center;
  align-items: center;
}
